In [1]:
import numpy as np
import pandas as pd
from scipy.stats import chisquare,chi2_contingency

In [2]:
# Chi-Square Test to find the Goodness of Fit for Categorical Variables

car = pd.read_csv("cars.csv", header=None, usecols=[0,1,2,3,4,5])
car.head()

     0    1     2    3     4     5
0  mpg  cyl  disp   hp    wt   acc
1   18    8   307  130  3504    12
2   15    8   350  165  3693  11.5
3   18    8   318  150  3436    11
4   16    8   304  150  3433    12

In [24]:
car.describe()

           0     1     2     3      4     5
count   1728  1728  1728  1728   1728  1728
unique     4     4     4     3      3     3
top      low   low     4     4  small   low
freq     432   432   432   576    576   576

In [25]:
car = car.rename(columns={0: 'buying', 1: 'maint', 2: 'doors', 3: 'persons', 4: 'lug_boot', 5: 'safety'})

In [26]:
car.head()

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [33]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 6 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
dtypes: object(6)
memory usage: 81.1+ KB

In [29]:
#Goodness of fit test for a single Categorical variable

# Let	pi denote	the	proportion	in	the	ith category
# H0	:	All	pi s	are	the	same	
# Ha	:	At	least	one	pi differs	from	the	others	

chisquare(car["doors"].value_counts())

#The p-value > 0.05 hence we conclude that all proportions are the same

Power_divergenceResult(statistic=0.0, pvalue=1.0)

In [34]:
chisquare(car["lug_boot"].value_counts())

#The p-value > 0.05 hence we conclude that al proportions are equal

Power_divergenceResult(statistic=0.0, pvalue=1.0)

In [35]:
# Goodness of Fit Test between 2 categorical variables

# H0: The two categorical variables are independent
# Ha: The two categorical variables are dependent

# Creating contingency table
cont = pd.crosstab(car["doors"],
                   car["lug_boot"])

In [36]:
cont

lug_boot  big  med  small
doors
2         144  144    144
3         144  144    144
4         144  144    144
5more     144  144    144

In [37]:
chi2_contingency(cont)

#The p-value > 0.05 hence we conclude that the 2 categorical variables are Independent

(0.0, 1.0, 6, array([[ 144.,  144.,  144.],
        [ 144.,  144.,  144.],
        [ 144.,  144.,  144.],
        [ 144.,  144.,  144.]]))