## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [1]:
l1 = ['learning', "Python", 'is fun?', True]
l1

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [2]:
l2 = list(("learning", "for", "life", True))
l2

['learning', 'for', 'life', True]

Adding to an existing list

### Question 1

Add 10 to list l1 given above.

In [3]:
l1.append(10)

In [4]:
l1

['learning', 'Python', 'is fun?', True, 10]

Removing from an existing list

### Question 2

Remove 10 from l1.

In [5]:
l1.remove(10)

Joining 2 lists

### Question 3

In [6]:
l1 = ['learning', "Python", 'is fun?', True]
l2 = list(("learning", "for", "life", True))

In [7]:
l1+l2

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]
 
If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

In [8]:
l3 = [2,4,6,8]

In [9]:
sum(l3)/len(l3)
min(l3), max(l3)

(2, 8)

Count the occurances of an element in a given list.

### Question 5
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

In [10]:
(l3 + [0,1,3,3,5,5,7,9]).count(5)

2

Sorting and Reversing a list

### Question 6
sort and print l3 in ascending and descending order sequentially (given above)

In [11]:
print(l3.sort(reverse = True))

None

In [12]:
l3

[8, 6, 4, 2]

### Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [13]:
def sum_3(a,b,c): 
    return a+b+c

In [14]:
sum_3(2,3,5)

10

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the same above **sum_3** function using lambda.

In [15]:
sum_3 = lambda x,y,z:x+y+z

In [16]:
sum_3(10,11,12)

33